.App {
  text-align: center;
}

.background{
  background-color: #e6c616;
  background: url('./Images/image-hero-desktop.jpg');
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


